<!DOCTYPE html>
<html>
<head>
    <title>Escaperoom Highscore's</title>
	<link type="text/css" rel="stylesheet" href="/css/ER_TableStyling.css">
	<link href="https://upevents.nl/wp-content/themes/up-events/assets/images/favicon-32x32.png" rel="shortcut icon" type="image/x-icon"/>
</head>
<body>
	<table align="center">
		<br/>
		<br/>
		<br/>
		<tr>
		<th colspan="3">
			<h1 id="header">Escaperoom: Room 8</h1>
		</th>
		</tr>
		<tr>
			<td>Nr.</td>
			<td>
				<strong>Team Name</strong>
			</td>
			<td>
				<strong>Tijd</strong>
			</td>
		</tr>

        <% for(let i = 0; i < dingdong.length; i++) {%>
            
            <tr>
				<td><%= i + 1 %></td>
				<% if(dingdong[i].eventGamemode == "Room 8") {%>
					<% for (let j = 0; j < names.length; j++ ) {%>
						<td><%= "Room 8" + names[i].TeamName %></td>
					<% } %>
				<% } %>
            </tr>
            
        <% } %>
	
	</table>

	<table align="center">
		<br/>
		<br/>
		<br/>
		<tr>
		<th colspan="3">
			<h1 id="header">Escaperoom: Quarantaine</h1>
		</th>
		</tr>
		<tr>
			<td>Nr.</td>
			<td>
				<strong>Team Name</strong>
			</td>
			<td>
				<strong>Tijd</strong>
			</td>
		</tr>

        <% for(let i = 0; i < dingdong.length; i++) {%>
            
            <tr>
				<td><%= i + 1 %></td>
				<% if(dingdong[i].eventGamemode == "Quarantaine") {%>
					<% for (let j = 0; j < names.length; j++ ) {%>
						<td><%= "Quarantaine" + names[i].TeamName %></td>
					<% } %>
				<% } %>
            </tr>
            
        <% } %>
	</table>



	<table align="center">
		<br/>
		<br/>
		<br/>
		<tr>
		<th colspan="3">
			<h1 id="header">Escaperoom: The Bunker</h1>
		</th>
		</tr>
		<tr>
			<td>Nr.</td>
			<td>
				<strong>Team Name</strong>
			</td>
			<td>
				<strong>Tijd</strong>
			</td>
		</tr>

        <% for(let i = 0; i < dingdong.length; i++) {%>
            
            <tr>
				<td><%= i + 1 %></td>
				<% if(dingdong[i].eventGamemode == "The Bunker") {%>
					<% for (let j = 0; j < names.length; j++ ) {%>
						<td><%= "The Bunker" + names[i].TeamName %></td>
					<% } %>
				<% } %>
            </tr>
            
        <% } %>
	</table>

	<table align="center">
		<br/>
		<br/>
		<br/>
		<tr>
		<th colspan="3">
			<h1 id="header">Escaperoom: Vietnamese Victim</h1>
		</th>
		</tr>
		<tr>
			<td>Nr.</td>
			<td>
				<strong>Team Name</strong>
			</td>
			<td>
				<strong>Tijd</strong>
			</td>
		</tr>

        <% for(let i = 0; i < dingdong.length; i++) {%>
            
            <tr>
				<td><%= i + 1 %></td>
				<% if(dingdong[i].eventGamemode == "Vietnamese Victim") {%>
					<% for (let j = 0; j < names.length; j++ ) {%>
						<td><%= "Vietnamese Victim" +  names[i].TeamName %></td>
					<% } %>
				<% } %>
            </tr>
            
        <% } %>
	</table>
</html>