<!DOCTYPE html>
<html>
<head>
    <title>Escaperoom Highscore's</title>
	<link type="text/css" rel="stylesheet" href="/css/ER_TableStyling.css">
	<link href="https://upevents.nl/wp-content/themes/up-events/assets/images/favicon-32x32.png" rel="shortcut icon" type="image/x-icon"/>
</head>
<body>
	<!-- ROOM 8 Table -->
	<table align="center">
		<br/>
		<br/>
		<br/>
		<tr>
		<th colspan="3">
			<h1 id="header">Escaperoom: Room 8 </h1>
		</th>
		</tr>
		<tr>
			<td>Nr.</td>
			<td>
				<strong>Team Name</strong>
			</td>
			<td>
				<strong>Tijd</strong>
			</td>
		</tr>
		<% for(let i = 0; i < Event.length; i++) {%>
			<tr>
				<td><%= i + 1 %></td>
				if (Event[i].eventGamemode == "Room 8"){
					<td><%= Event[i].eventTeams[Event[i].TeamIndex].TeamName %></td>
				}
			</tr>
		<% } %>
	</table>

	<!-- QUARANTAINE Table -->
	<table align="center">
		<br/>
		<br/>
		<br/>
		<tr>
		<th colspan="3">
			<h1 id="header">Escaperoom: Quarantaine </h1>
		</th>
		</tr>
		<tr>
			<td>Nr.</td>
			<td>
				<strong>Team Name</strong>
			</td>
			<td>
				<strong>Tijd</strong>
			</td>
		</tr>
		<% for(let i = 0; i < Event.length; i++) {%>
			<tr>
				<td><%= i + 1 %></td>
				if (Event[i].eventGamemode == "Quarantaine"){
					<td><%= Event[i].eventTeams[Event[i].TeamIndex].TeamName %></td>
				}
			</tr>
		<% } %>
	</table>

	<!-- THE BUNKER Table -->
	<table align="center">
		<br/>
		<br/>
		<br/>
		<tr>
		<th colspan="3">
			<h1 id="header">Escaperoom: The Bunker </h1>
		</th>
		</tr>
		<tr>
			<td>Nr.</td>
			<td>
				<strong>Team Name</strong>
			</td>
			<td>
				<strong>Tijd</strong>
			</td>
		</tr>
		<% for(let i = 0; i < Event.length; i++) {%>
			<tr>
				<td><%= i + 1 %></td>
				if (Event[i].eventGamemode == "The Bunker"){
					<td><%= Event[i].eventTeams[Event[i].TeamIndex].TeamName %></td>
				}
			</tr>
		<% } %>
	</table>

	<!-- VIETNAMESE VICTIM Table -->
	<table align="center">
		<br/>
		<br/>
		<br/>
		<tr>
		<th colspan="3">
			<h1 id="header">Escaperoom: Vietnamese Victim </h1>
		</th>
		</tr>
		<tr>
			<td>Nr.</td>
			<td>
				<strong>Team Name</strong>
			</td>
			<td>
				<strong>Tijd</strong>
			</td>
		</tr>
		<% for(let i = 0; i < Event.length; i++) {%>
			<tr>
				<td><%= i + 1 %></td>
				if (Event[i].eventGamemode == "Vietnamese Victim"){
					<td><%= Event[i].eventTeams[Event[i].TeamIndex].TeamName %></td>
				}
			</tr>
		<% } %>
	</table>
</body>
</html>